@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');

@layer base{
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
        transition: 1s;

    }
    li:hover{
        text-decoration: underline;
        text-decoration-color:rgb(219 39 119) ;
        text-decoration-thickness: 3px;

    }

}
.content-div{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    height: 200px;
    transition: 2s;
    
    
}
.content-div:hover{
    background-image: linear-gradient(
        to right,
        hwb(325 1% 81% / 0.247),
        rgba(233, 156, 192, 0.8)
    ) !important;
    
}
